.landing-container {
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
  
.landing-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px; 
  height: 100vh;
  text-align: center;
  margin: 20px 0px;
}

.landing-title {
    font-size: 30px;
    font-weight: bold;
    color: #111;
    text-align: center;
  }
  
  
.landing-body p {
    max-width: 600px;
    text-align: center;
    font-size: 16px;
    color: #333;
    margin: 40px 0px;
}
  
.landing-features {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 40px;
  text-align: left;
}
.landing-features h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}
.landing-features ul {
  text-align: center;
  list-style: none;
  color: #333;
  padding: 0;
}
.landing-features li {
  text-align: center;
  margin: 6px 0;
  font-size: 16px;
}

.landing-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.text-link {
  font-size: 14px;
  color: #007BFF;
  text-decoration: none;
}
.text-link:hover {
  text-decoration: underline;
}
.landing-carousel-group {
  max-width: 400px;
  margin: 40px auto;
  margin-inline: 10px;
  text-align: center;
}
.landing-carousel-group h3 {
  font-size: 20px;
  margin-bottom: 6px;
  color: #222;
}
.carousel-box {
  display:flex;
  align-items: center;
}

/* your white canvas can even be semi-opaque if you like */
.landing-container {
  margin: 0;
  background: linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.75)),
    url('https://lous.s-ul.eu/uVxmgPI5') no-repeat center center fixed;
  background-size: cover;
}