@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.min-screen-wrapper {
  min-width: 1280px;
  min-height: 720px;
  margin: 0 auto;
}